<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
</head>
<body>
<style> a {margin: 0 15px 0 0;} </style>
    <div class="nav-menu">
        <a href="{% url 'home' %}">Flux</a>
        <a href="{% url 'posts' %}">Post</a>
        <a href="{% url 'subscription' %}">Abonnements</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Se déconnecter</a>
            <p>Vous connecté en tant que : {{user.username}}</p>
        {% else %}
            <a href="{% url 'login' %}">Se connecter</a>
        {% endif %}
<!--        <a href="">Se déconnecter</a>-->
    </div>
{% block content %} {% endblock %}


</body>
</html>