{% extends 'base.html' %}
{% block content %}
<h1>Flux</h1>
    <button type="button">
        <a href="{% url 'ticket-add' %}">Demander une critique</a>
    </button>
    <button type="button">
        <a href="{% url 'review-add' %}">Créer une critique</a>
    </button>
    <hr>
    {% for post in posts %}

        {% if post.content_type == 'TICKET' %}
            <div>{% include 'ticket_snippet.html' %}</div>
            {% if not post.has_review %}
                <button>
                    <a href="{% url 'review-answer' post.id %}">Créer une critique</a>
                </button>
            {% endif %}
        <hr>
        {% elif post.content_type == 'REVIEW' %}
            {% include 'review_snippet.html' %}
        {% endif %}
    {% empty %}
    <p>No articles yet.</p>
    {% endfor %}

{% endblock %}