{% extends 'base.html' %}
{% block content %}
<div class="main-container">
        <button class="btn-center" type="button">
            <a class="btn-text" href="{% url 'ticket-add' %}">Demander une critique</a>
        </button>
        <button class="btn-center" type="button">
            <a class="btn-text" href="{% url 'review-add' %}">Créer une critique</a>
        </button>
</div>
<div class="container">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
        <ul>
            <li>
                <div>
                    {% include 'ticket_snippet.html' %}

                </div>

            </li>
            {% elif post.content_type == 'REVIEW' %}
            <li>
                <div>{% include 'review_snippet.html' %}</div>
            {% endif %}
            </li>

        </ul>
    {% endfor %}
</div>
{% endblock %}