{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="new-post">
    <h2>Créer une critique</h2>
        <p>Vous êtes en train de poster en réponse à</p>
            <div class="post">
                <div class="content-post">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% include 'existing_ticket_snippet.html' %}
                        <hr>
                        <h3>Critique</h3>
                        {% csrf_token %}
                        {{ form_review|crispy }}
                        <input class="btn-center" type="submit" value="Envoyer">
                    </form>
                </div>
            </div>
    <div class="button">
    <button type="button" class="btn-left">
        <a class="btn-text" href="{% url 'home' %}">Retour à flux</a>
    </button>
    </div>
</div>
{% endblock %}