{% extends 'base.html' %}
{% block content %}
<div class="new-post">
    <h2>Créer une critique</h2>
        <div class="post">
            <div class="content-post">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ ticket_form.as_p }}
                    <hr>
                    {{ review_form.as_p }}
                    <input class="btn-center" type="submit" value="Créer">
                </form>
            </div>
        </div>
        <div  class="button">
            <button type="button" class="btn-left">
                    <a class="btn-text" href="{% url 'home' %}">Retour à flux</a>
            </button>
        </div>
</div>
{% endblock %}