{% extends 'base.html' %}
{% block content %}
<div class="new-post">
    <h2>Votre une critique pour le Livre/Article</h2>
    <div class="post">
        <div class="content-post">
            <h3>{{ review.ticket.title }}</h3>
            <p>{{ review.ticket.description }}</p>
            {% if not review.ticket.image %}
                <img class="cover-book" src="{{ '/media/cover_book_default.png' }}">
            {% else %}
                <img class="cover-book" src="{{ review.ticket.image.url }}" alt="">
            {% endif %}

            <h3>Critique</h3>
            <div class="resume-post">
                <h3>{{ review.headline }}</h3>
                <img src="{{ '/media/star_rating/Star-' }}{{ review.rating }}{{ '.svg' }}">
            </div>
            <div class="body-post">
                <p>{{ review.body }}</p>
            </div>
        </div>
    </div>
    <button type="button" class="btn-center">
        <a class="btn-text" href="{% url 'home' %}">Retour à flux</a>
    </button>
</div>
{% endblock %}