
<div class="post">
    <div class="info-post">
    {% if post.user.id == user.id %}
        <div>Vous avez publié une critique</div>
        <div class="date-post">{{ post.time_created|date:"H:i, d F o" }}</div>
    {% else %}
        <div>{{ post.user.username|capfirst }} a publié une critique</div>
        <div class="date-post">{{ post.time_created|date:"H:i, d F o" }}</div>
    {% endif %}
    </div>
    <div class="content-post">
        <div class="resume-post">
            <h3>{{ post.headline }}</h3>
            <img src="{{ '/media/star_rating/Star-' }}{{ post.rating }}{{ '.svg' }}">
        </div>
        <div class="body-post">
            <p>{{ post.body }}</p>
        </div>
    </div>
    {% include 'ticket_in_review_snippet.html' %}
    {% if post.user.id == user.id %}
        <button class="btn-center">
            <a class="link" href= "{% url 'review-update' post.id %}"> Modifier</a>
        </button>
        {% endif %}
</div>
