{% extends 'base.html' %}
{% block content %}
<div class="new-post">
    <h2>Votre demande de critique pour le livre / article</h2>
        <div class="post">
            <div class="content-post">
                <p class="date-post">{{ ticket.time_created|date:"H:i, d F o" }}</p>
                <h3>{{ ticket.title }}</h3>
                <p>{{ ticket.description }}</p>
                {% if not ticket.image %}
                    <img  class="cover-book" src="{{ '/media/cover_book_default.png' }}">
                {% else %}
                    <img class="cover-book" src="{{ ticket.image.url }}" alt="">
                {% endif %}
            </div>
        </div>
    <button type="button" class="btn-center">
        <a class="btn-text" href="{% url 'home' %}">Retour à flux</a>
    </button>
</div>
{% endblock %}