{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="post-update">
    <h2>Modifier votre ticket</h2>
        <div class="post">
            <div class="content-post">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ update_form|crispy }}
                    {{ delete_form|crispy }}
                    <button class="btn-center" type="submit">Modifier</button>
                </form>
                <form class="btn-delete" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ delete_form }}
                    <button class="btn-center" type="submit">Supprimer</button>
                </form>
            </div>
        </div>
    <div class="button">
        <button type="button" class="btn-left">
            <a class="btn-text" href="{% url 'home' %}">Retour à flux</a>
        </button>
    </div>
</div>
{% endblock %}