html{
    font-family: arial, helvetica, Verdana, sans-serif;
}

body {

    margin: auto;
    background-color: #FDFAF3;

}

/* navigation bar elements */


.flex-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    background-color: #B6DA9A;
    height: 50px;
    width: 100%;
    

}

.authenticate {
    margin-right: auto;
    margin: 0 0 0 10px;

}

.logo {
    margin: auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: auto;
    margin: 0 10px 0 0;
}

.nav-menu {
    text-decoration: none;
}

.authenticate, .logo, .nav-menu {
    color: #3E582A;
    font-size: 0.85em;
}


/* Feed elements */

.main-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 70px;
    width: 100%;
    background-color: #DAF1C8;
    position: fixed;

}

.btn-center {
    margin-top:auto;
    margin: 0 0 7px 0;

    background-color: #B6DA9A;
    border: none;
    padding: 7px 40px;
    display: inline-block;
    font-size: 0.9em;
    border-radius: 8px;
    border: 1px solid #3E582A;
    color: #3E582A;

}

.btn-text {
    text-decoration: none;
    color: #3E582A;
}

.container {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

}


/* Signup */

.signup h2 {
    color: #3E582A;
}


.errorlist {
    list-style-type: none;
    color:red;
}

.main-container-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.signup {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 0 0 0;
    width: 500px;
}

.btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3E582A;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #B6DA9A;
    border: 2px solid #B6DA9A;
    border-radius: 8px;
    padding: 5px 16px 5px 16px;
    height: 35px;
    width: 100px
}

.btn-place {
    display: flex;
    flex-direction:row;
    gap: 16px;
}

.signup-form {
    display: flex;
    flex-direction:column;

    gap: 15px;
    flex-wrap: wrap;
    margin: 0 0 10px 10px;
    color: #3E582A;
}

/* Login */

.login h2 {
    color: #3E582A;
}

input[name="username"] {

    height: 20px;
    border-radius: 8px;
    background-color: #DAF1C8;
    border: 2px solid #B6DA9A;
}

input[name="password"], [name="password1"], [name="password2"] {

    height: 20px;
    border-radius: 8px;
    background-color: #DAF1C8;
    border: 2px solid #B6DA9A;
}

.login {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
}

.login-input {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 0 0 0;
    background-color: ;

}

.registration{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;

}

.login-form {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

/* Subscription */

.main-container-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.subscription-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.search-form {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    position:relative;

    gap: 10px;
    width: 350px;
}


.user-follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    background-color: #DAF1C8;
    border: 2px solid #B6DA9A;
    border-radius: 8px;
    padding: 0 0 0 10px;
    color:  #3E582A;

    position: relative;
    right: 20px;
}

.link-unfollow {
    display: flex;
    align-items: center;
    color: #3E582A;
    font-size: 0.8em;
    text-decoration: none;
    background-color: #B6DA9A;
    border-radius: 0 4px 4px 0;
    padding: 5px 5px 5px 10px;
    height: 20px;
}

.follower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 350px;
    background-color: #DAF1C8;
    border: 2px solid #B6DA9A;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
    color:  #3E582A;

    position: relative;
    right: 20px;
}

input[name="followed_user"] {

    height: 28px;
    width: 250px;
    border-radius: 8px;
    background-color: #DAF1C8;
    border: 2px solid #B6DA9A;
}

.btn-follow {
    display: flex;
    align-items: center;
    color: #3E582A;
    font-size: 0.8em;
    background-color: #B6DA9A;
    border: 2px solid #B6DA9A;
    border-radius: 8px;
    padding: 5px 16px 5px 16px;
    height: 35px;
    width: 100px
}

.subscription-container p {
    font-size: 0.9em;
    color: #3E582A;

}
.subscription-container h3 {

    color: #3E582A;
}

/* Review & ticket */

.post {
    margin: 5px;
    width:500px;
    background-color: #81CACF;
    border: 1px solid #3E582A;
}

li {
    list-style-type: none;
}

.info-post {
    display: flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: space-between;
    background-color: #D2F0F3;
    padding: 16px;
}

.content-post {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFFCE9;
    padding: 16px;
}

.date-post {
    font-size: 0.75em;
}

.ticket-in-review {
    display: flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: space-between;
    padding: 16px;
    background-color: #DAF1C8;
}

