{% extends 'base.html' %}
{% block content %}
<div class="login">

    <div class="registration">
        <div class="registration-title">
                <h2>Inscrivez-vous maintenant</h2>
        </div>
        <button class="btn-center">
            <a class="btn-text" href="{% url 'signup' %}">Inscrivez-vous</a>
        </button>
    </div>

    <div class="login-input">

        <div class="login-title">
            <h2>Connectez-vous</h2>
        </div>

            <form class="login-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    <tr>
                        <td>{{ message }}</td>
                        {% if form.errors %}
                        <td>Le nom ou le mot de passe est incorrect</td>
                    {% endif %}
                    </tr>
                </table>


            <input class="btn-center" type="submit" value="Se connecter">
            <input type="hidden" name="next" value="{{ next }}">

            </form>

    </div>

<!--    <div class="login-img">-->
<!--        <img src="/media/book-illust.jpg" alt="">-->
<!--    </div>-->
</div>

{% endblock %}